body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #bdc3c7, #2c3e50);
    font-family: Arial, sans-serif;
}


header {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

header a.active {
    color: rgba(94, 255, 91, 0.689);
}

header a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
}

header a:hover {
    color: rgba(94, 255, 91, 0.689);
}

header img {
    height: 30px;
}

/* Button styles */
.button-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}
.button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: aliceblue;
	color: #333;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	width: 300px;
	height: 150px;
	margin: 10px;
	border-radius: 15px;
    border-style: double;
    border-color: gold;
    border-width: 4px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease-in-out;
}
.button:hover {
	transform: translateY(-5px);
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
.button span {
	display: inline-block;
	transform: translateY(5px);
	transition: all 0.3s ease-in-out;
}
.button:hover span {
	transform: translateY(0);
}