		body {
		    margin: 0;
		    padding: 0;
			background-image: linear-gradient(to right, #bdc3c7 , #2c3e50);
			font-family: Arial, sans-serif;
		}


		header {
		    background-color: #333;
		    color: #fff;
		    display: flex;
		    align-items: center;
		    justify-content: space-between;
		    padding: 20x;
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		}

		header a {
		    color: #fff;
		    text-decoration: none;
		    margin-left: 20px;
			margin-right: 20px;
		}
        
		header a:hover {
		    color: rgba(94, 255, 91, 0.689);
		}
		

		header img {
		    height: 30px;
		}

		.container {
		    max-width: 1200px;
		    margin: 100px auto;
		    display: flex;
		    flex-wrap: wrap;
		    justify-content: space-between;
		}

		.box {
		    width: 16%;
		    padding: 12px;
		    background-color: #f5f5f5;
		    margin-bottom: 30px;
		    text-align: center;
		    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
			border-color: black;
			border-style: double;
			border-radius: 35px;
			background-color: aliceblue;
		}

		.box img {
		    height: 100px;
		    border-radius: 10%;
		    margin-bottom: 0px;
		    object-fit: fill;
		    object-position: center;
		}

		.box h3 {
		    margin: 0;
		    font-size: 24px;
		    font-weight: bold;
		    margin-bottom: 10px;
		}

		.box a {
		    display: inline-block;
		    margin: 5px;
		    color: #333;
		    text-decoration: none;
		    padding: 5px 10px;
		    background-color: aliceblue;
		    border-radius: 10px;
		    transition: background-color 0.3s ease;
		}

		.box a:hover {
		    background-color: #ddd;
		}
		h2 {
			text-align: center;
			width: auto;
			margin: auto;
			color: black;
		}
		.box #logoid {
			height: 13px;
			align-items: normal;
			background-color: beige;

		}